<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="logo overlay">
        <img src='assets/imgs/logo.png'>
    </div>
    <div class="about">
        <ion-card>
            <div class="who-we-are">
                <h2>Who we are</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nemo eaque iusto delectus soluta, quod alias recusandae, sit voluptatum praesentium ab, molestiae ipsum iste nobis a dolores perspiciatis dicta excepturi?</p>
            </div>
            <div class="single-row">
                <div>
                    <h3>10K</h3>
                    <p>Happy <br>Patients</p>
                </div>
                <div>
                    <h3>12</h3>
                    <p>Years <br>Experience</p>
                </div>
                <div>
                    <h3>13</h3>
                    <p>Working <br>Hours</p>
                </div>
            </div>
            <div class="who-we-are">
                <h2>Why we are unique?</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nemo eaque iusto delectus soluta, quod alias recusandae, sit voluptatum praesentium ab, molestiae ipsum iste nobis a dolores perspiciatis dicta excepturi?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto quidem, eaque quo vel reprehenderit. Dolorem consequuntur corporis esse labore facere praesentium saepe aliquid quis quam? Voluptatibus id dolor velit.</p>
            </div>
        </ion-card>
    </div>
</ion-content>