.logo {
    text-align: center;
    height: 250px;
    background-image: url(../../assets/imgs/abcccc.png);
    background-size: cover;
    img {
        height: 150px;
        width: 150px;
        margin: 20px auto auto auto;
        border-radius: 50%;
        border: 1px solid #D70B52;
    }
}

.about {
    margin-top: -70px;
    ion-card {
        padding: 15px 10px;
        border-radius: 5px;
    }
}

.appointment {
    margin-top: 10px;
    // z-index: 9999;
    text-align: center;
    ion-button {
        text-transform: capitalize;
    }
}

.avail-card {
    h1 {
        font-size: 15px;
        font-weight: bold;
        color: #D70B52;
    }
    h2 {
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }
    p {
        font-size: 14px;
        margin: 0;
    }
}

.bottom-row {
    text-align: center;
    margin: 10px 0;
    span {
        color: #D70B52;
        font-size: 15px;
        font-weight: bold;
    }
    color: black;
    font-size: 14px;
}

.date {
    ion-item {
        height: 35px;
    }
}

.bottom-row {
    margin-top: 15px !important;
}